:root {
  --neon-color: #c3e8ff; /* neon cyan */
  --secondary-color: #559dc9; /* return button & chosen set & set text color */
  --reps-text-color: #e5f5ff; /* reps */
  --main-stroke: #314b5b; /* category & login text stroke */
  --secondary-stroke: #155074; /* stroke exercise text, return button stroke */
  --set-stroke: #202f3a; /* stroke set div */
}
.text1 {
  font-family: "Calistoga", cursive;
  color: #ffffff;
  font-style: normal;
  font-feature-settings: "clig" off, "liga" off;
}
.text2 {
  font-family: "Poppins";
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-feature-settings: "clig" off, "liga" off;
}
.text3 {
  font-family: "Podkova";
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-feature-settings: "clig" off, "liga" off;
}
.radial-background {
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
}
.animate-height {
  transition: height 0.5s ease-in-out;
}
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox-min {
  display: flex;
  align-items: center;
}
.neon-border-top,
.neon-border-bottom {
  position: absolute;
  height: 1.25rem;
  width: 100%;
}
.neon-border-top {
  top: -6px;
  z-index: 1;
}
.neon-border-bottom {
  bottom: -12px;
  z-index: 1;
}
.outlet-container {
  position: fixed;
  top: 1.5%;
  left: 1.5%;
  z-index: 9;
}
.workout-conatiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 94vh;
}
.category-div-closed {
  position: relative;
  width: 100%;
  height: 33%;
}
.category-div-opened {
  position: relative;
  width: 100%;
}
.add-category-image {
  margin-right: 10px;
  height: 1.5rem;
  width: 1.5rem;
}
.add-category-text {
  font-size: 1.5rem;
}
.add-conatiner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.category-name {
  position: absolute;
  width: 100%;
  top: -0.75rem;
}
.category-image {
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}
.category-name-text {
  margin-right: 10px;
  font-size: 2rem;
}
.category-state-indicator {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    var(--neon-color) 100%
  );
  stroke-width: 1px;
  stroke: var(--neon-color);
}
.category-closed {
  position: absolute;
  top: 15%;
  height: 85%;
  width: 100%;
}
.category-closed-exercises {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 10px;
  position: absolute;
  top: 15%;
  height: calc(85% - 3rem);
  overflow: hidden;
  width: 100%;
}
.exercise-container-closed {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding-left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exercise-state-indicator-opened {
  position: absolute;
  left: 5%;
  top: 2.5%;
  border-radius: 0.1875rem;
  width: 5px;
  height: 80%;
  background: var(--neon-color);
}
.exercise-state-indicator-closed {
  border-radius: 0.1875rem;
  margin-right: 5px;
  width: 2.5%;
  height: 20%;
  background: var(--neon-color);
}
.close-category-icon {
  position: absolute;
  top: 1.2rem;
  right: 3.25rem;
  width: 1.5rem;
  height: 0.75rem;
  z-index: 4;
}
.delete-category-icon {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 4;
}
.exercise-in-category-container {
  position: relative;
  top: 4rem;
  height: 11rem;
  width: 100%;
}
.exercise-set-amount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8%;
  color: #dddddd;
  font-size: 0.85rem;
}
.bottom-line {
  position: absolute;
  bottom: 7.5%;
  left: 7.5%;
  width: 85%;
  height: 1px;
  background: #9a9a9a;
}
.exercise-in-category-text {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 70%;
  height: 32.5%;
}
.exercise-name-text {
  margin: 0;
  font-size: 1.5rem;
}
.exercise-details-text {
  margin: 0;
  margin-top: -5px;
  font-size: 1.1rem;
  color: #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sets-container {
  position: absolute;
  top: 35%;
  left: 12.5%;
  width: 70%;
  height: 42.5%;
  display: flex;
  flex-wrap: nowrap;
}
.set-container {
  width: 20%;
  height: 100%;
  margin-right: 5%;
}
.set-reps {
  position: absolute;
  width: 12.5vmin;
  height: 12.5vmin;
  bottom: 0;
  border-radius: 20%;
  border: 1px solid #202f3a;
  background: radial-gradient(50% 50% at 50% 50%, #a0a0a0 0%, #c3c3c3 100%);
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px #559dc9;
}
.set-extras-container {
  position: absolute;
  top: -7.5%;
  width: 18.75%;
  height: 40%;
  z-index: 3;
}
.set-extras-img {
  position: absolute;
  top: -15%;
  left: 50%;
  width: 14vmin;
  height: 14vmin;
  transform: translateX(-50%);
}
.set-extras-img-band {
  position: absolute;
  top: -5%;
  left: 50%;
  width: 15vmin;
  height: 15vmin;
  transform: translateX(-50%);
}
.set-extras-weight-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1rem;
}
.set-extras-weight-text-type {
  position: absolute;
  top: 97.5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.8rem;
}
.open-exercise-button {
  position: absolute;
  top: 35%;
  right: 5%;
}
.exercise-page {
  position: absolute;
  height: 85vh;
  width: 95vw;
  border-radius: 1.9375rem;
  border: 5px solid var(--neon-color);
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 10;
}
.exercise-return-button {
  position: absolute;
  top: 2%;
  left: 5%;
  border-radius: 0.5rem;
  border: 1px solid #155074;
  background: #559dc9;
  width: 17.5%;
  text-align: center;
  z-index: 11;
}
.exercise-category-name-text {
  margin-right: 10px;
  font-size: 1.5rem;
}
.exercise-category-image {
  margin-right: 10px;
  height: 1.5rem;
  width: 1.5rem;
}
.in-exercise-text-exname {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.in-exercise-name-text,
.in-exercise-details-text {
  text-align: center; /* Horizontally centers the text */
  margin: 0; /* Removes default margins */
}

.in-exercise-name-text {
  font-size: 1.75rem;
}

.in-exercise-details-text {
  margin-top: -10px;
  font-size: 1.25rem;
  color: #ddd;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exercise-sets-container {
  position: absolute;
  top: 17.5%;
  width: 90%;
  height: 13%;
  left: 50%;
  transform: translateX(-50%);
}
.exercise-actual-sets {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}
.exercise-actual-sets::-webkit-scrollbar {
  display: none;
}
.exercise-set {
  width: 20%;
  flex-shrink: 0;
  padding-left: 10px;
}
.exercise-add-set {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
}
.exercise-set-container {
  width: 100%;
  height: 100%;
}
.exercise-set-extras-container {
  position: absolute;
  top: 0;
  width: 18.75%;
  height: 40%;
  z-index: 3;
}
.exercise-set-extras-img {
  position: absolute;
  top: -25%;
  left: 50%;
  width: 14vmin;
  height: 15vmin;
  transform: translateX(-50%);
}
.exercise-set-extras-weight-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 1rem;
}
.exercise-set-extras-weight-text-type {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.8rem;
}
.exercise-set-reps {
  position: absolute;
  width: 12.5vmin;
  height: 12.5vmin;
  bottom: 12.5%;
  border-radius: 20%;
  border: 1px solid #202f3a;
  background: radial-gradient(50% 50% at 50% 50%, #a0a0a0 0%, #c3c3c3 100%);
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px #559dc9;
}
.chosen-set {
  background: radial-gradient(50% 50% at 50% 50%, #c3e8ff 0%, #559dc9 100%);
  box-shadow: none;
}
.in-exercise-add-set {
  position: absolute;
  width: 12.5vmin;
  height: 12.5vmin;
  bottom: 12.5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20%;
  border: 1px solid #202f3a;
  background: radial-gradient(50% 50% at 50% 50%, #a0a0a0 0%, #c3c3c3 100%);
  box-shadow: 0px 0px 4px 2px #c3e8ff inset;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px #559dc9;
}
.exercise-add-category-image {
  height: 1.5rem;
  width: 1.5rem;
}
.exercise-sets-dash-border {
  position: absolute;
  right: 20%;
  top: 20%;

  border: none;
  border-left: 1px dashed rgb(255, 255, 255);
  width: 1px;
  height: 80%;
}
.in-exercise-set-amount {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  color: #dddddd;
  font-size: 0.85rem;
}
.border-line {
  position: absolute;
  width: 100%;
  background-color: #9a9a9abd;
  height: 1px;
  bottom: -10%;
  border-radius: 50%;
}
.in-exercise-reps {
  position: absolute;
  top: 33%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}
.in-exercise-minus {
  position: relative;
  left: 12.5%;
  color: #d9d9d9;
  font-size: 4rem;
  font-weight: 500;
}
.in-exercise-plus {
  position: relative;
  right: 12.5%;
  color: #d9d9d9;
  font-size: 4rem;
  font-weight: 500;
}
.in-exercise-reps-amount {
  font-size: 8rem;
  color: #e5f5ff;
}
.in-exercise-extras-section {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 57.5%;
}
.left-side-circle {
  position: absolute;
  left: 5%;
  top: 0;
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  width: 10vmin;
  height: 10vmin;
}
.left-side-circle-bg {
  position: absolute;
  top: calc(5% + 2px);
  left: calc(3% + 10vmin);
  height: 10%;
  width: 5%;
  background-color: #4b4b4b;
}
.left-side-tube {
  position: absolute;
  top: 5%;
  left: calc(5% + 10vmin + 1px);
  border-top: 2px solid #b5b5b5;
  border-bottom: 2px solid #b5b5b5;
  border-left: none;
  border-right: none;
  height: 10%;
  width: calc(40% - 10vmin - 1px);
}
.middle-circle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  width: 10vmin;
  height: 10vmin;
}
.middle-circle-bg-left {
  position: absolute;
  top: calc(5% + 2px);
  left: 43%;
  height: 10%;
  width: 2.5%;
  background-color: #5f5f5f;
}
.middle-circle-bg-right {
  position: absolute;
  top: calc(5% + 2px);
  left: 54%;
  height: 10%;
  width: 2.5%;
  background-color: #5d5d5d;
}
.right-side-tube {
  position: absolute;
  top: 5%;
  right: calc(5% + 10vmin + 1px);
  border-top: 2px solid #b5b5b5;
  border-bottom: 2px solid #b5b5b5;
  border-left: none;
  border-right: none;
  height: 10%;
  width: calc(40% - 10vmin);
}
.right-side-circle {
  position: absolute;
  right: 5%;
  top: 0;
  border-radius: 50%;
  border: 2px solid #b5b5b5;
  width: 10vmin;
  height: 10vmin;
}
.right-side-circle-bg {
  position: absolute;
  top: calc(5% + 2px);
  right: calc(3% + 10vmin);
  height: 10%;
  width: 5%;
  background-color: #4b4b4b;
}
.in-exercise-extras-texts {
  position: absolute;
  left: 6.5%;
  top: -11%;
  display: flex;
  justify-content: space-between;
  width: 87.5%;
}
.in-exercise-extras-text {
  color: #ddd;
  font-size: 0.75rem;
}
.exercise-extras-ball-middle {
  position: absolute;
  left: 50%;
  top: calc(5vmin + 2px);
  transform: translateY(-50%) translateX(-50%);
  height: 7.5vmin;
  width: 7.5vmin;
  background-color: #c3e8ff;
  border-radius: 50%;
}
.exercise-extras-ball-left {
  position: absolute;
  left: 7%;
  top: calc(5vmin + 2px);
  transform: translateY(-50%);
  height: 7.5vmin;
  width: 7.5vmin;
  background-color: #c3e8ff;
  border-radius: 50%;
}
.exercise-extras-ball-right {
  position: absolute;
  left: 85%;
  top: calc(5vmin + 2px);
  transform: translateY(-50%);
  height: 7.5vmin;
  width: 7.5vmin;
  background-color: #c3e8ff;
  border-radius: 50%;
}
.chosen-circle {
  border: 3px solid var(--neon-color);
}
.extras-click-container-left {
  position: absolute;
  top: -11%;
  left: 4%;
  width: 15%;
  height: 40%;
  z-index: 2;
}
.extras-click-container-middle {
  position: absolute;
  top: -11%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 40%;
  z-index: 2;
}
.extras-click-container-right {
  position: absolute;
  top: -11%;
  right: 4%;
  width: 15%;
  height: 40%;
  z-index: 2;
}
.in-exercise-extras-div {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 50%;
}
.in-exercise-extras-weights {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-exercise-extras-weights-text {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}
.in-exercise-extras-weights-type {
  margin-left: 5px;
  color: #414141;
  border-radius: 0.5625rem;
  border: 1px solid #474747;
  background: #d9d9d9;
  height: 10vmin;
  width: 10vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.in-exercise-extras-band {
  position: absolute;
  top: 20%;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.in-exercise-bands-option {
  padding: 5px;
  font-size: 1.1rem;
  color: #000000;
  display: flex;
  align-items: center;
}
.in-exercise-bands-image {
  position: relative;
  width: 30px !important;
}
.in-exercise-bands-selected {
  position: absolute;
  top: 3px;
  left: 3px;
  color: #000000;
  display: flex;
  align-items: center;
}
.in-exercise-bands-selected .text-container {
  margin-left: 10px;
}
.in-exercise-bottom-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
}
.in-exercise-highscore-div {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.highscore-container {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.highscore-container-line {
  display: flex;
  flex-direction: row;
}
.highscore-container-line img {
  height: 7.5vmin;
  width: 7.5vmin;
  padding-right: 2px;
}
.highscore-text-word {
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highscore-text {
  color: #d6b32b;
  font-size: 1.5rem;
  text-align: center;
}
.question-mark-highscore {
  width: 4vmin;
  height: 4vmin;
}
.in-exercise-delete-exercise-div {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.in-exercise-delete-exercise {
  position: relative;
  top: 10%;
  border-radius: 0.375rem;
  border: 2px solid #ffbaba;
  width: 50%;
  height: 25%;
  color: #ffeded;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-exercise-container {
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-exercise-container img {
  width: 5vmin;
  height: 5vmin;
  margin-right: 5px;
}
.add-exercise-container-opened {
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  display: flex;
}
.add-exercise-container-opened img {
  width: 5vmin;
  height: 5vmin;
  margin-right: 5px;
  margin-left: 30px;
}
.category-closed-no-sets {
  position: absolute;
  width: 12.5vmin;
  height: 12.5vmin;
  bottom: 12.5%;
  border-radius: 20%;
  border: 1px solid #202f3a;
  background: radial-gradient(50% 50% at 50% 50%, #a0a0a0 0%, #c3c3c3 100%);
  box-shadow: 0px 0px 4px 2px #c3e8ff inset;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px #559dc9;
}
.weight-input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 1.9375rem;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.weight-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 60%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
}

.weight-input-number {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
  width: 80%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.1rem;
}
.weight-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 25%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercise-input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 1.9375rem;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.exercise-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 80%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 30;
}
.exercise-input-inputs-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.exercise-input-name {
  height: 50%;
  width: 80%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  text-indent: 5px;
}
.exercise-input-name:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
.exercise-input-name::placeholder {
  color: #c8c8c8;
}
.exercise-input-details {
  height: 50%;
  width: 80%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  text-indent: 5px;
}
.exercise-input-details:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
.exercise-input-details::placeholder {
  color: #c8c8c8;
}
.exercise-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercise-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 25%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-input {
  position: absolute;
  height: 94vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.category-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 80%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
}
.remove-exercise-transparent-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 94vh;
  z-index: 10;
}
.remove-exercise-container {
  z-index: 10;
  background: rgba(0, 0, 0, 0.61);
  width: 100%;
}
.remove-exercise {
  position: relative;
  width: 70%;
  height: 45px;
  top: -2.5%;
  left: 7.5%;
  border-radius: 0.3125rem 0.3125rem 0.625rem 0.625rem;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  background: #acacac;
  color: #8f3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.category-input {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.category-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 70%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.category-input-container span {
  padding-top: 5%;
  width: 80%;
  text-align: center;
  font-size: 1.5rem;
}
.navbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
  background: #393939;
  border-top: 1px solid #989898;
  z-index: 500;
}
.chosen-navbar {
  filter: drop-shadow(0px 0px 2px #c3e8ff);
}
.history-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-workout-container {
  position: absolute;
  left: 33.3%;
  top: 0;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.export-data-container {
  position: absolute;
  left: 66.6%;
  top: 0;
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exporter-input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.exporter-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 80%;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
}
.exporter-input-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2.5%;
  height: 72.5%;
  width: 80%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  text-indent: 5px;
  resize: none;
}
.exporter-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 20%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exporter-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 20%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.exporter-input-confirm img {
  width: 5vmin;
  height: 5vmin;
  padding-right: 10px;
}
.input-data-error {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  color: #ff8484;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border: 2px solid #ffbaba;
  z-index: 100;
}
.profile-workout-container {
  position: relative;
  width: 100%;
  height: 22.5%;
}
.profile-name-date-container {
  position: absolute;
  top: 5%;
  left: 2.5%;
  width: 47.5%;
  height: 30%;
}
.profile-workout-name {
  font-size: 1.25rem;
}
.profile-workout-date {
  color: #ddd;
}
.profile-workout-tags {
  position: absolute;
  top: 5%;
  right: 2.5%;
  width: 45%;
  height: 30%;
  display: grid; /* Use grid layout */
  grid-template-rows: 1fr 1fr; /* Divide into 2 rows */
  grid-template-columns: 1fr 1fr; /* Divide into 2 columns */
  gap: 5px;
  align-items: center;
}
.profile-workout-load {
  position: absolute;
  top: 60%;
  left: 7.5%;
  height: 25%;
  width: 40%;
  border-radius: 0.375rem;
  border: 1px solid #155074;
  background: #559dc9;
}
.profile-workout-load-new {
  position: absolute;
  top: 60%;
  right: 7.5%;
  height: 25%;
  width: 40%;
  border-radius: 0.375rem;
  border: 1px solid #155074;
  background: #559dc9;
}
.profile-show-more {
  position: relative;
  left: 5%;
  width: 80%;
  height: 7vh;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.profile-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 94vh;
  overflow: scroll;
}
.workout-input {
  position: absolute;
  height: 94vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.workout-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 90%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
}
.workout-input-inputs-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 67.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.workout-input-name {
  height: 30%;
  width: 90%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  text-indent: 5px;
}

.workout-input-name:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
.workout-input-name::placeholder {
  color: #c8c8c8;
}
.workout-input-tags-container {
  position: relative;
  height: 70%;
  width: 90%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  text-indent: 5px;
}
.workout-input-current-tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.workout-input-suggested-tags {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  border-top: 1px solid #c0c0c0;
}
.workout-input-suggested-tags span {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}
.workout-input-suggested-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.workout-input-details {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 40%;
  font-size: 1rem;
  background-color: transparent;
  text-indent: 5px;
  border: none;
  outline: none;
  resize: none;
}
.workout-input-details:focus {
  outline: none;
}
.workout-input-details::placeholder {
  color: #c8c8c8;
}
.workout-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 17.5%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 17.5%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-input-clicker {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 20px;
}
.workout-input {
  position: absolute;
  height: 94vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 20;
}
.workout-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 90%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 1000;
}
.workout-input-inputs-container {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 67.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.workout-input-name {
  height: 30%;
  width: 90%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
  text-indent: 5px;
}

.workout-input-name:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
}
.workout-input-name::placeholder {
  color: #c8c8c8;
}
.workout-input-tags-container {
  position: relative;
  height: 70%;
  width: 90%;
  border-radius: 0.5rem;
  border: 2px solid #c0c0c0;
  background: #888;
  font-size: 1rem;
  color: #fff;
  text-indent: 5px;
}
.workout-input-current-tags {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.workout-input-suggested-tags {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  border-top: 1px solid #c0c0c0;
  overflow-x: auto;
}
.workout-input-suggested-tags span {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
}
.workout-input-suggested-container {
  position: absolute;
  bottom: 0;
  left: 3.5%;
  width: 100%;
  height: 55%;
  display: flex;
  white-space: nowrap;
}
.workout-input-details {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 40%;
  font-size: 1rem;
  background-color: transparent;
  text-indent: 5px;
  border: none;
  outline: none;
  resize: none;
}
.workout-input-details:focus {
  outline: none;
}
.workout-input-details::placeholder {
  color: #c8c8c8;
}
.workout-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 17.5%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workout-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 17.5%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
}
.tag-export {
  width: 20vmin;
  height: 70%;
  border-radius: 0.625rem;
  border: 1px solid #4f4f4f;
  background: #dedede;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-export div {
  position: relative;
  color: #4f4f4f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  text-align: center;
  left: -5px;
}
.tag-export-active {
  width: 20vmin;
  height: 70%;
  border-radius: 0.625rem;
  border: 1px solid var(--secondary-stroke);
  background: var(--neon-color);
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-export-active div {
  position: relative;
  color: var(--main-stroke);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80%;
  text-align: center;
}
.tag-export-active svg {
  position: relative;
}
.tag-static {
  width: 20vmin;
  height: 75%;
  border-radius: 0.625rem;
  border: 1px solid var(--secondary-stroke);
  background: var(--neon-color);
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-static div {
  color: var(--main-stroke);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.matching-input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 1.9375rem;
  background: rgba(0, 0, 0, 0.61);
  z-index: 40;
}
.matching-input-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 60%;
  border-radius: 1.25rem;
  border: 3px solid #c3e8ff;
  background: radial-gradient(50% 50% at 50% 50%, #646464 0%, #414141 100%);
  z-index: 50;
}
.matching-divs-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  height: 45%;
  width: 90%;
  z-index: 1000;
  border: 2px solid #c0c0c0;
  background: #888;
}
.matching-div {
  position: relative;
  height: 30%;
  width: 100%;
  border-bottom: 1px solid #434343;
  background: #80858a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matching-div-chosen {
  border: 2px solid var(--secondary-stroke);
  background: var(--secondary-color);
  width: calc(100% - 4px);
  color: #fff;
  font-size: 1.25rem;
}
.matching-input-cancel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 15%;
  border-radius: 0rem 0rem 0rem 1.5625rem;
  border-top: 1px solid #999;
  background: #404040;
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matching-input-confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 15%;
  border-radius: 0rem 0rem 1.5625rem 0rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  background: #404040;
  color: var(--neon-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.matching-input-text {
  position: relative;
  top: 5px;
  text-align: center;
}
.matching-input-subtext {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: #c8c8c8;
  text-align: center;
  font-size: 0.8rem;
  width: 95%;
}
.quick-start-button {
  position: absolute;
  width: 45%;
  height: 10%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quick-start-button span {
  position: relative;
  z-index: 10;
  width: 100%;
  top: -5%;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.quick-start-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.load-data-button {
  position: absolute;
  width: 45%;
  height: 10%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-data-button span {
  position: relative;
  z-index: 10;
  width: 100%;
  top: -5%;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.no-select {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
